@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }
    .step-box {
        width: 90%;
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .step-box:last-child {
        margin: auto;
    }
}